
body{
	max-width: 1200px;
}
.col{
	background: gold;
	padding: 20px;
	width: 10%;
	margin-left: 1%;
	margin-right: 1%;
	display: inline-block;
}
#medio{
	background: blue;
	padding: 20px;
	width: 65%;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
}
#medio2{
	background: blue;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	width: 100%;
	display: flex;
	/*display: inline-block;*/
}
.medio3{
	background: blue;
	padding: 10px;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 1%;
	margin-bottom: 1%;
	width: 43%;
	/*align-content:space-between;*/
	display:inline-block;
	/*display: flex;
	flex-wrap:wrap;
	/*flex-direction: column;
	/*justify-content: center;*/
}
#medio4{
	background: blue;
	padding: 10px;
	margin-left: 2%;
	margin-right: 2%;	
	width: 95%;
}
#medio5{
	background: blue;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	width: 100%;
	display: flex;
}
p{
	background: blue;
	padding: 5px;
	/*margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;*/
	width: 90%;
}
form{
	
	display:flex;
	width: 100%;
	flex-wrap:nowrap;
	/*width: 50%;
	/*align-content:space-between;
	justify-content: center;
	width: 100%;*/
	
}
.padre{
	background: aqua;
	border:10px solid #000000;
	max-width: 1200px;
	display: flex;
	/*padding: 20px;*/
}
.padre2{
	background: #000000;
	/*border:10px solid #000000;*/
	max-width: 1200px;
	display: flex;
	/*justify-content:center;*/
	flex-wrap:nowrap;
	/*padding: 20px;*/
}
.padre3{
	background: #000000;
	/*border:10px solid #000000;*/
	max-width: 1200px;
	display: flex;
	justify-content: center;
	/*padding: 20px;*/
}
.hijo{
	background: darkcyan;
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	width: 70%;
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;
	align-content:space-between;
}
.hijo2{
	background: brown;
	width: 29%;
	margin-left: 1%;
	margin-right: 10px;
	margin-top: 1%;
	margin-bottom: 1%;
	display: flex;
	justify-content: center;
	flex-wrap:wrap;
}
#dif{
	margin-bottom: 100px;
	margin-top: 10px;
}

@media(max-width:900px){
	/*.padre{
		flex-direction: column;
		/*justify-content: center;
	}*/
	.padre2{
		flex-direction: column;
		/*justify-content: center;*/
	}
	.hijo{
		flex-direction: column;
		width: 98%;
		/*justify-content: center;*/
	}
	.hijo2{
		width: 98%;
		margin-left: 1%;
		margin-right: 10px;
		margin-top: 1%;
		/*margin-bottom: 1%;*/
		display: flex;
		justify-content: center;
		flex-wrap:wrap;
	}
	.medio3{
		background: blue;
		padding: 20px;
		margin-left: 1%;
		margin-right: 1%;
		width: 93%;
		display: flex;
		flex-wrap:wrap;
		align-content:space-between;
	}
	#medio4{
		background: blue;
		padding: 20px;
		margin-left: 1%;
		margin-right: 1%;	
		width: 93%;
		/*display: inline-block;*/
	}
	p{
		background: blue;
		padding: 20px;
		width: 93%;
	}
	#dif{
		margin-bottom: 20px;
		margin-top: 10px;
	}


}

	@media(max-width:600px){
		.padre{
			flex-direction: column;
			/*justify-content: center;*/
		}
		.col{
			padding: 20px;
			width: 90%;
			margin-left: 1%;
			margin-right: 1%;
			display: inline-block;
		}
		#medio{
			padding: 20px;
			width: 90%;
			margin-left: 1%;
			margin-right: 1%;
			display: inline-block;
		}
		.padre2{
			flex-direction: column;	
		}
		.hijo{
			flex-direction: column;
			width: 100%;
		}
		#medio2{
			justify-content: center;
			padding: 10px;
			width: 90%;
		}
		p{
			padding: 20px;
			width: 93%;
		}
		#dif{
			margin-bottom: 20px;
			margin-top: 10px;
		}
}

	